Source: elb-tool
Section: 1.0
Architecture: all
Priority: extra
Maintainer: Rob Terhaar <rterhaar@atlanticdynamic.com>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://github.com/robbyt/elb_tool

Package: elb-tool
Section: utils
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.5), python-central (>= 0.6.11), python-m2crypto (>= 0.19.1), python-boto (>= 1.8d)
Description: Manage ELB members in Amazon's EC2 service.
 Simple stuff.
