Package: elb_tool
Version: 1.0
Architecture: all
Maintainer: Rob Terhaar <rterhaar@atlanticdynamic.com>
Depends: python (>= 2.5), python-central (>= 0.6.11), python-m2crypto (>= 0.19.1), python-boto (>= 1.8d)
Recommends: cloud-utils
Homepage: https://github.com/robbyt/elb_tool
Priority: extra
Section: utils
Description: Manage ELB members in Amazon's EC2 service.
 Simple stuff.
